GradFilma/GradFIlmaProjekat/Service References/ServiceGradFilma/ServiceGradFilma.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceGradFilma" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18578/ServiceGradFilma.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18578/ServiceGradFilma.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18578/ServiceGradFilma.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GradFilmaModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGradFilmaService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajFilmove_InputMessage">
    <wsdl:part name="parameters" element="tns:dajFilmove" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajFilmove_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajFilmoveResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:dajFilm" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajFIlm_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajFIlm" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajFIlm_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajFIlmResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_obrisiFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:obrisiFilm" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_obrisiFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:obrisiFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:dajKorisnika" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajKinoSalu_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajKinoSalu" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajKinoSalu_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajKinoSaluResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajKinoSalu_InputMessage">
    <wsdl:part name="parameters" element="tns:dajKinoSalu" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajKinoSalu_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajKinoSaluResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajSjediste_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajSjediste" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajSjediste_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajSjedisteResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajSjediste_InputMessage">
    <wsdl:part name="parameters" element="tns:dajSjediste" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajSjediste_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajSjedisteResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajSjedistaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:dajSjedistaSale" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dajSjedistaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:dajSjedistaSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_zauzmiSjediste_InputMessage">
    <wsdl:part name="parameters" element="tns:zauzmiSjediste" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_zauzmiSjediste_OutputMessage">
    <wsdl:part name="parameters" element="tns:zauzmiSjedisteResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_editujFIlm_InputMessage">
    <wsdl:part name="parameters" element="tns:editujFIlm" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_editujFIlm_OutputMessage">
    <wsdl:part name="parameters" element="tns:editujFIlmResponse" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajProjekciju_InputMessage">
    <wsdl:part name="parameters" element="tns:dodajProjekciju" />
  </wsdl:message>
  <wsdl:message name="IGradFilmaService_dodajProjekciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:dodajProjekcijuResponse" />
  </wsdl:message>
  <wsdl:portType name="IGradFilmaService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/Login" message="tns:IGradFilmaService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/LoginResponse" message="tns:IGradFilmaService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/Register" message="tns:IGradFilmaService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/RegisterResponse" message="tns:IGradFilmaService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajFilmove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajFilmove" message="tns:IGradFilmaService_dajFilmove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajFilmoveResponse" message="tns:IGradFilmaService_dajFilmove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajFilm" message="tns:IGradFilmaService_dajFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajFilmResponse" message="tns:IGradFilmaService_dajFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajFIlm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dodajFIlm" message="tns:IGradFilmaService_dodajFIlm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dodajFIlmResponse" message="tns:IGradFilmaService_dodajFIlm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obrisiFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/obrisiFilm" message="tns:IGradFilmaService_obrisiFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/obrisiFilmResponse" message="tns:IGradFilmaService_obrisiFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajKorisnika" message="tns:IGradFilmaService_dajKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajKorisnikaResponse" message="tns:IGradFilmaService_dajKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajKinoSalu">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dodajKinoSalu" message="tns:IGradFilmaService_dodajKinoSalu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dodajKinoSaluResponse" message="tns:IGradFilmaService_dodajKinoSalu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajKinoSalu">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajKinoSalu" message="tns:IGradFilmaService_dajKinoSalu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajKinoSaluResponse" message="tns:IGradFilmaService_dajKinoSalu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajSjediste">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dodajSjediste" message="tns:IGradFilmaService_dodajSjediste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dodajSjedisteResponse" message="tns:IGradFilmaService_dodajSjediste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajSjediste">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajSjediste" message="tns:IGradFilmaService_dajSjediste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajSjedisteResponse" message="tns:IGradFilmaService_dajSjediste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dajSjedistaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dajSjedistaSale" message="tns:IGradFilmaService_dajSjedistaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dajSjedistaSaleResponse" message="tns:IGradFilmaService_dajSjedistaSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="zauzmiSjediste">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/zauzmiSjediste" message="tns:IGradFilmaService_zauzmiSjediste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/zauzmiSjedisteResponse" message="tns:IGradFilmaService_zauzmiSjediste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editujFIlm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/editujFIlm" message="tns:IGradFilmaService_editujFIlm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/editujFIlmResponse" message="tns:IGradFilmaService_editujFIlm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dodajProjekciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IGradFilmaService/dodajProjekciju" message="tns:IGradFilmaService_dodajProjekciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGradFilmaService/dodajProjekcijuResponse" message="tns:IGradFilmaService_dodajProjekciju_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGradFilmaService" type="tns:IGradFilmaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajFilmove">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajFilmove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajFilm">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajFIlm">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dodajFIlm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obrisiFilm">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/obrisiFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajKorisnika">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajKorisnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajKinoSalu">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dodajKinoSalu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajKinoSalu">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajKinoSalu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajSjediste">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dodajSjediste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajSjediste">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajSjediste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dajSjedistaSale">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dajSjedistaSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zauzmiSjediste">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/zauzmiSjediste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editujFIlm">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/editujFIlm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajProjekciju">
      <soap:operation soapAction="http://tempuri.org/IGradFilmaService/dodajProjekciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGradFilma">
    <wsdl:port name="BasicHttpBinding_IGradFilmaService" binding="tns:BasicHttpBinding_IGradFilmaService">
      <soap:address location="http://localhost:18578/ServiceGradFilma.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>