GradFilma/GradFIlmaProjekat/Service References/ServiceGradFilma/ServiceGradFilma.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GradFilmaModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GradFilmaModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JMBG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UlogaID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="filmID" type="xs:int" />
      <xs:element minOccurs="0" name="glumci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reziser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trajanje" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="KinoSala">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipMjestaId" type="xs:int" />
      <xs:element minOccurs="0" name="brojKolona" type="xs:int" />
      <xs:element minOccurs="0" name="brojMjesta" type="xs:int" />
      <xs:element minOccurs="0" name="brojRedova" type="xs:int" />
      <xs:element minOccurs="0" name="brojSale" type="xs:int" />
      <xs:element minOccurs="0" name="idKinoSala" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KinoSala" nillable="true" type="tns:KinoSala" />
  <xs:complexType name="Sjediste">
    <xs:sequence>
      <xs:element minOccurs="0" name="SalaID" type="xs:int" />
      <xs:element minOccurs="0" name="brojKolone" type="xs:int" />
      <xs:element minOccurs="0" name="brojReda" type="xs:int" />
      <xs:element minOccurs="0" name="idSjedista" type="xs:int" />
      <xs:element minOccurs="0" name="tip" type="xs:int" />
      <xs:element minOccurs="0" name="zauzeto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sjediste" nillable="true" type="tns:Sjediste" />
  <xs:complexType name="ArrayOfSjediste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sjediste" nillable="true" type="tns:Sjediste" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSjediste" nillable="true" type="tns:ArrayOfSjediste" />
  <xs:complexType name="Projekcija">
    <xs:sequence>
      <xs:element minOccurs="0" name="filmId" type="xs:int" />
      <xs:element minOccurs="0" name="kinoSalaId" type="xs:int" />
      <xs:element minOccurs="0" name="tipProjekcijeId" type="xs:int" />
      <xs:element minOccurs="0" name="vrijemePrikazivanja" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projekcija" nillable="true" type="tns:Projekcija" />
</xs:schema>